div {
	width: 200px;
	height: 200px;
	background-color: black;
	margin: 200px;

	/*transition requires TWO things*/
	/*1. which property (color, width, height, etc)*/
	/*2. how long is the transition (in seconds)*/
	/*3. (optional) HOW the transition - timing function*/
		/*linear*/
		/*ease*/
		/*ease-in*/
		/*ease-out*/
		/*ease-in-out*/
	/*transition: background-color 5s;*/
	transition: all 4s ease-in;
}

div:hover {
	background-color: pink;
	transform: scale(2);
	/*go from square to circle*/
	border-radius: 50%;
	background: url('pug.png') center top;
}

/*h2 {
	padding-top: 0px;
	transition: padding-top 4s ease-in;
}*/






